{% set domains = frappe.get_doc("Domain Settings").active_domains %}
{% set links = {
	'Manufacturing': '/manufacturing',
	'Services': '/services',
	'Retail': '/retail',
	'Distribution': '/distribution',
	'Non Profit': '/non-profit',
	'Education': '/education',
	'Healthcare': '/healthcare',
	'Agriculture': '/agriculture',
	'Hospitality': ''
} %}

{% set link = '' %}
{% set label = '' %}
{% if domains %}
	{% set label = domains[0].domain %}
	{% set link = links[label] %}
{% endif %}

{% if label == "Services" %}
	{% set label = "Service" %}
{% endif %}



<a href="http://www.direct-direction.com" target="_blank" class="text-muted">Customized By Direct Direction for Information Technology - ERP Software for Health Care Companies</a>
